body {
    background: '#263238'
}



#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color:'white';
    margin-top: 60px;
  }

  .joke-card {
      border: 2px solid green;
      border-radius: 2px;
      padding: 5px;
      margin: 5px
  }